.card {
    cursor: pointer;
    background: #1d1d1d;
    padding: 20px;
    border-radius: 10px;
    min-width: 220px;
    max-width: 280px;
    width: 100%;
    box-shadow: 5.4px 10.9px 20.9px rgb(119 36 204 / 10%);
    border: 2px solid rgba(119, 36, 204, 0.5);

    @media (max-width: 786px) {
        max-width: none;
        width: 100%;
    }

    .topic {
        font-weight: 600;
    }

    .speakers {
        display: flex;
        align-items: center;
        position: relative;
        margin: 20px 0;
    }

    .avatars img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid rgba(119, 36, 204, 1);
        position: absolute;
        top: 0;
        left: 0;
        background: #1d1d1d;
    }

    .avatars img:last-child {
        top: 20px;
        left: 20px;
    }

    .singleSpeaker .avatars img {
        position: initial;
    }

    .singleSpeaker .names {
        margin-left: 20px;
    }

    .names {
        margin-left: 100px;
    }

    .names span {
        padding-bottom: 5px;
        display: inline-block;
        margin-right: 5px;
    }

    .peopleCount {
        text-align: right;
    }

    .peopleCount span {
        font-weight: bold;
        margin-right: 5px;
    }
}
