nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 50px auto;
    padding: 20px 15px;

    .menu {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #fff;

        > span {
            margin: auto 5px;
            font-weight: bold;
        }
    }
}
