.modalBackDrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100%;
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 320px;
    max-width: 400px;
    max-height: 300px;
    height: 100%;
    width: 100%;
    background: #1d1d1d;
    border-radius: 10px;
    z-index: 999;
    margin: auto;
    animation: modalPopUp 0.3s;
    box-shadow: 5.4px 10.9px 20.9px rgb(119 36 204 / 10%);
    border: 2px solid rgba(119, 36, 204, 0.5);

    @media (max-width: 500px) {
        width: 340px;
    }

    .closeButton {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 20px;
        background: none;
        border: none;

        > img {
            width: 25px;
            height: 25px;
            transition: 0.2s all ease-in-out;

            &:hover {
                transform: scale(1.2) rotate(90deg);
                -webkit-transform: scale(1.2) rotate(90deg);
                -ms-transform: scale(1.2) rotate(90deg);
            }
        }
    }

    .modalHeader {
        padding: 20px 30px;
        width: 100%;

        .heading {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .heroImage {
        position: absolute;
        z-index: -10;
        background: transparent;
        object-fit: cover;
        opacity: 0.8;
        width: 100px;
        height: 100px;
        top: 11%;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.3s ease-in-out;
    }

    .footerButton {
        cursor: pointer;
        background: #20bd5f;
        color: #fff;
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: center;
        padding: 7px 10px;
        border-radius: 20px;
        border: none;
        margin: 75px auto 0px auto;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #13763b;
        }

        > span {
            margin-left: 5px;
            font-weight: bold;
        }
    }

    .footerButton:hover ~ .heroImage {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        top: 6%;
        opacity: 1;
    }
}

@keyframes modalPopUp {
    0% {
        transform: scale(0);
    }
}
