// Colors
$primary: #fff;

.modalBackDrop {
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    width: 100vw;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    min-width: 350px;

    .navBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        padding: 20px;
        height: 40px;
        margin-bottom: 15px;

        > a {
            display: flex;
            flex-direction: row;
            color: $primary;
            font-weight: 700;
            font-size: 1.2em;

            > img {
                width: 32px;
                height: 28px;
            }

            > span {
                margin: auto 10px;
                font-size: 1.2em;
            }
        }

        .navRight {
            display: flex;
            flex-direction: row;

            @media (max-width: 600px) {
                .navRoom:last-child() {
                    display: none;
                }
            }

            .navRoom {
                position: relative;
                display: flex;
                flex-direction: row;
            }

            .navOutside {
                display: flex;
                flex-direction: row;

                @media (max-width: 600px) {
                    display: none;
                }
            }

            .navUser {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: auto 0px;

                > a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto 10px auto 0px;

                    > img {
                        border: 2px solid rgba(119, 36, 204, 1);
                        object-fit: cover;
                        border-radius: 50%;
                        width: 38px;
                        height: 37px;
                    }

                    @media (max-width: 576px) {
                        margin: auto 5px auto 0px;

                        > img {
                            width: 35px;
                            height: 34px;
                        }
                    }
                }
            }

            .button {
                cursor: pointer;
                position: relative;
                display: inline-block;
                color: $primary;
                text-decoration: none;
                font-weight: 500;
                overflow: hidden;
                background: none;
                border: none;
                border-radius: 100%;
                filter: hue-rotate(0deg);
                transition: all 0.2s ease-in-out;

                .userSettingsIcon {
                    color: #fff;
                    height: 30px;
                    width: 29px;
                    margin-top: 5px;
                    transition: all 0.2s ease-in-out;
                    z-index: 9999;
                }

                @media (max-width: 600px) {
                    padding: 1px 6px;
                    margin: auto 2px auto 6px;

                    .userSettingsIcon {
                        height: 26px;
                        width: 25px;
                    }
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }
            }

            .userMenu {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                z-index: 999;
                min-width: 240px;
                max-width: 300px;
                width: auto;
                min-height: 200px;
                height: auto;
                background: #2a203e;
                border-radius: 10px;
                border-top-right-radius: 0px;
                top: 50px;
                right: 20px;
                padding: 18px;
                box-shadow: 5.4px 10.9px 20.9px rgb(119 36 204 / 10%);
                border: 2px solid rgba(119, 36, 204, 0.5);

                div:nth-child(1) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding-bottom: 20px;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

                    > img {
                        border: 2px solid rgba(119, 36, 204, 1);
                        object-fit: cover;
                        border-radius: 50%;
                        width: 50px;
                        height: 48px;
                    }

                    span {
                        font-size: 1.2em;
                        font-weight: 500;
                        text-align: left;
                        margin-left: 20px;
                        letter-spacing: 1px;
                    }
                }

                div:last-child {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin: 10px auto 0px auto;

                    button {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;
                        padding: 10px auto;
                        margin: 5px auto;
                        border: none;
                        background: none;
                        color: #fff;
                        padding: 10px;
                        border-radius: 5px;
                        font-size: 1em;
                        font-weight: lighter;
                        letter-spacing: 1px;
                        transition: 0.5s transform, margin, box-shadow, border;
                        transition-timing-function: ease-in-out;

                        &:hover {
                            transform: scale(1.03);
                            margin: 3px auto;
                            background: rgba(255, 255, 255, 0.2);
                            box-shadow: 5.4px 10.9px 20.9px
                                rgb(119 36 204 / 10%);
                            border: 2px solid rgba(119, 36, 204, 0.5);
                        }

                        .userIcons {
                            height: 25px;
                            width: 25px;
                            margin: auto 10px auto 0px;
                        }
                    }
                }

                @media (max-width: 576px) {
                    min-width: 180px;
                    max-width: 300px;
                    width: auto;
                    min-height: 160px;
                    height: auto;
                    background: #2a203e;
                    border-radius: 10px;
                    border-top-right-radius: 0px;
                    top: 45px;
                    right: 20px;
                    padding: 12px;

                    div:nth-child(1) {
                        padding-bottom: 10px;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.1);

                        > img {
                            width: 28px;
                            height: 28px;
                        }

                        span {
                            font-size: 0.9em;
                            margin-left: 10px;
                        }
                    }

                    div:last-child {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        margin: 0px auto;

                        button {
                            padding: 10px auto;
                            margin: 5px auto;
                            padding: 10px;
                            padding-left: 5px;
                            font-size: 0.8em;
                            letter-spacing: 0px;

                            &:hover {
                                background: rgba(255, 255, 255, 0.2);
                            }

                            .userIcons {
                                height: 20px;
                                width: 20px;
                                margin: auto 10px auto 0px;
                            }
                        }

                        button:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .autheticate__buttons {
                cursor: pointer;

                button {
                    border: 2px solid rgba(255, 255, 255, 0.25);
                    cursor: pointer;
                    padding: 8px 30px;
                    margin: auto 10px;
                    border-radius: 7px;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1em;
                    outline: none;
                    transition: all 0.5s ease-in-out;
                }
            }

            .autheticate__buttons:nth-child(1) {
                button {
                    background: none;

                    &:hover {
                        background: rgba(46, 5, 118, 0.2);
                    }
                }
            }

            .autheticate__buttons:last-child {
                button {
                    border: 2px solid #7724cc;
                    background: #7724cc;

                    &:hover {
                        background: #7724cc80;
                        border: 2px solid #7724cc80;
                    }
                }
            }
        }
    }
}
