@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

ol,
ul {
    list-style: none;
    text-decoration: none;
}

span, a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    /* background: #121212; */
    background: #0d0123;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}