.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    min-width: 600px;
}

.actionButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.bottomParagraph {
    color: #c4c5c5;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
