.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 500px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 100%;

    div {
        width: 100%;
        position: relative;

        img {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 35%;
            left: 4%;
        }

        .passwordImgHidden,
        .passwordImgVisible {
            cursor: pointer;
            position: absolute;
            left: auto;
        }

        .passwordImgHidden {
            width: 18px;
            height: 16px;
            top: 38%;
            right: 4%;
        }

        .passwordImgVisible {
            width: 18px;
            height: 14px;
            top: 39%;
            right: 4%;
        }

        input {
            border: 2px solid #d5d3d9;
            padding: 15px 20px 15px 45px;
            width: 100%;
            color: #fff;
            font-size: 12px;
            border-radius: 5px;
            outline: none;
            background: none;
            margin: 12px auto;
            font-weight: 500;

            &:focus {
                border: 2px solid #7724cc;
            }
        }
    }
}

.bottomLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px auto 10px auto;

    span {
        font-size: 0.9em;
        font-weight: 400;
    }

    > a {
        text-decoration: none;
        font-weight: 500;
        font-size: 0.9em;
        margin: 0px 10px;
        color: rgba(119, 36, 204, 1);
    }
}
