.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        width: 100%;
        padding: 10px 15px;

        @media (max-width: 600px) {
            padding: 10px 5px;
        }

        .roomsHeader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 20px 0px;

            @media (max-width: 850px) {
                justify-content: center;
                flex-direction: column;
            }

            .left {
                display: flex;
                align-items: center;
                flex-direction: row;

                @media (max-width: 756px) {
                    flex-direction: column;
                    margin: 10px;

                    .heading {
                        margin-bottom: 20px;
                    }
                }

                .heading {
                    position: relative;
                    font-size: 20px;
                    font-weight: bold;
                }

                .heading::after {
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 60%;
                    height: 4px;
                    background: rgba(119, 36, 204, 1);

                    @media (max-width: 756px) {
                        height: 3px;
                        bottom: -5px;
                    }
                }

                .searchBox {
                    background: #262626;
                    color: #fff;
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    padding: 0px 0px 0px 10px;
                    min-width: 300px;
                    border-radius: 50px;
                    box-shadow: 5.4px 10.9px 20.9px rgb(119 36 204 / 10%);
                    border: 2px solid rgba(119, 36, 204, 0.5);

                    .searchInput {
                        background: transparent;
                        border: none;
                        outline: none;
                        color: #fff;
                        width: 100%;
                        font-size: 1em;
                        font-weight: 500;
                    }

                    .searchInput::placeholder {
                        color: #fff;
                        font-size: 0.9em;
                        opacity: 0.5;
                    }

                    > img {
                        cursor: pointer;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        border-left: 1px solid rgb(48, 48, 48);
                        background: rgb(48, 48, 48);
                        padding: 6px 14px 6px 10px;
                    }

                    @media (max-width: 756px) {
                        margin-left: 0px;
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: row;
                gap: 10px;

                > button {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    background: rgb(32, 189, 95);
                    font-weight: 500;
                    padding: 7px 15px;
                    border-radius: 20px;
                    border: none;
                    color: #fff;
                    transition: all 0.3s ease-in-out;
                    box-shadow: 5.4px 10.9px 20.9px rgb(32 189 95 / 10%);
                    border: 2px solid #344e41;

                    &:hover {
                        border: 2px solid #3a5a40;
                        background: rgba(32, 189, 95, 0.7);
                    }

                    > img {
                        width: 16px;
                        height: 16px;
                    }
                }

                > button:nth-child(1) span {
                    margin-left: 0px;
                }

                > button span {
                    font-size: 16px;
                    margin-left: 5px;
                }

                @media (max-width: 850px) {
                    margin: 15px auto 10px auto;
                }
            }
        }
    }

    .roomList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 60px;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 786px) {
            margin: 30px 10px 10px 10px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
            margin: 20px 10px 10px 10px;
        }
    }
}
