.modalBackDrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100%;
    z-index: 999;
    padding: 20px;
}

.modalBody {
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    width: 90%;
    min-width: 320px;
    max-width: 500px;
    background: #1d1d1d;
    padding: 20px 30px;
    border-radius: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    animation: modalPopUp 0.3s;
    box-shadow: 5.4px 10.9px 20.9px rgb(119 36 204 / 10%);
    border: 2px solid rgba(119, 36, 204, 0.5);

    > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        > h2 {
            font-size: 1.3em;
            font-weight: 500;
        }

        span {
            font-size: 0.9em;
            font-weight: 400;
            margin: 10px 0px;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin: 20px 0px;
            gap: 10px;

            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border: none;
                border-radius: 2px;
                font-size: 1em;
                font-weight: normal;
                background: rgb(32, 189, 95);
                border: none;
                width: 100px;
                padding: 10px;
                color: white;
                box-shadow: 0px 6px 18px -5px rgba(46, 143, 85, 1);
                transition: 0.4s background ease-in-out;

                &:hover {
                    background: rgb(46, 133, 81);
                }
            }

            button:nth-child(1) {
                background: #ed6755;
                box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);

                &:hover {
                    background: rgba(237, 103, 85, 0.6);
                }
            }
        }
    }
}

@keyframes modalPopUp {
    0% {
        transform: scale(0);
    }
}
